n8n-workflows/customer-followup.json
{
  "name": "Customer Followup",
  "nodes": [
    {
      "parameters": {
        "path": "supersender-followup-sequence",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "followup-webhook",
      "name": "Followup Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_URL || 'http://ai-tools-backend:4100'}}/api/n8n/webhook",
        "sendBody": true,
        "jsonBody": "={{ { event: 'customer_followup', payload: $json.payload || $json } }}"
      },
      "id": "log-followup",
      "name": "Log Followup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [240, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true } }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 0]
    }
  ],
  "connections": {
    "Followup Webhook": {
      "main": [[{ "node": "Log Followup", "type": "main", "index": 0 }]]
    },
    "Log Followup": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  }
}
